<h3>User Information</h3>
<div class="centerTable"> 
    <div class="container">
    <table>
    <tr>
        <th>Photo</th>
        <th>Id</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
        <th>Phone</th>
    </tr>
    <tr *ngFor="let item of items">
        <td>
           <img src="assets/images/{{item.user.photo}}" width="100">
        </td>
        <td>{{item.user.id}}</td>
        <td>{{item.user.firstName}}</td>
        <td>{{item.user.lastName}}</td>
        <td>{{item.user.email}}</td>
        <td>{{item.user.phone | phone}}</td>
    </tr>
    <br>
    <tr>
        <th colspan="2">Address</th>
        <th colspan="4">Map</th>
    </tr>
    <tr *ngFor="let item of items">
        <td colspan="2">{{item.user.address}}</td>
        <td colspan="4">
          <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d118472.60376276064!2d-102.36134013065727!3d21.885719942315262!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x8429ec143ae4d9fb%3A0x4016978679c5220!2sAguascalientes%2C+Ags.%2C+M%C3%A9xico!5e0!3m2!1ses!2sjp!4v1561094828667!5m2!1ses!2sjp" width="400" height="300" frameborder="0" style="border:0" allowfullscreen></iframe>
        </td>
    </tr>

</table>
</div>