table{
    width: 100%;
    border: 1px solid black;
    font-size:20px;
    margin-bottom:45px;
}

th, td{
 padding: 15px;
 border: 1px solid black;
 text-align: center;
}

th{
    background-color: blueviolet;
    color: white;
}

.centerTable{
    margin-left: auto;
    margin-right: auto;
    padding-left: 15%;
    padding-right: 15%;
}

